

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/C:/Users/asus/OneDrive/Desktop/khayalergy/Personalwebsite/frontend/aleefy/public/khayalpic.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: 1000;
  }
  @media (min-width: 768px) {
    .splash-screen {
      background-size: contain; /* Adjust for larger screens */
      background-repeat: no-repeat;
      background-position: center;
    }
}
